
.wrapper {
    width: 356px;
    display: flex;
    flex-direction: column;
}

.item {
    font-size: 2rem;
    margin-top: 20px;
    
    & a {
        color: var(--black);
    }

    & a:hover {
        color: var(--primary);
    }
}